:root {
    --nav-bg: #8f8e8e;
    --nav-text: #ffffff;
    --nav-subtext: #aaaaaa;
    --link-color: #4aa6ff;
    --accent: #4aa6ff;
    --accent-hover: #2f8fe0;
    --bg: #a6a29d;
    --text: #ffffff;
    --border: #333333;
    --input-bg: #000000;
  }

  *{
    font-family: Roboto-Condensed , Arial, Helvetica, sans-serif;
  }
  .logo{
    width: 100%;
    max-width: 500px;
    max-height: 500px;
  }
  .slogan{
    font-family: cursive;
  }
body,html {
scroll-behavior: smooth !important;
}
.del{
    background: url(quick-pound-2025a\public\imgs\chartss.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}